@use '/src/common/styles/colors' as *;
@use '/src/common/styles/mixins' as *;

.catalogCreationContainer {
  position: absolute;
  top: -40px;
  left: 172px;
  width: 150px;
  z-index: 500;
  border-radius: 8px;
  color: $whiteColor;

  i {
    position: absolute;
    font-size: 22px;
    top: -7px;
    left: -7px;
    z-index: 700;
    cursor: pointer;
    color: $blueDarkerGrayColor;
    background-color: $whiteColor;
    border-radius: 11px;

    &:hover {
      color: $errorColor;
    }
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .modeButton {
      @include flexCenter;
      flex: 1;
      height: 24px;
      border: 1px solid white;
      border-bottom: none;
      background-color: $blueDarkerGrayColor;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: $lightGrayColor;
        color: $blueDarkerGrayColor;
      }

      &:first-child {
        border-right: none;
      }
    }

    .active {
      flex: 1.3;
      z-index: 600;
      border: 1px solid $greenColor;
      background-color: $greenColor;
    }
  }
}
