@use '/src/common/styles/colors' as *;
@use '/src/common/styles/mixins' as *;

.contestSideBarInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30vw;

  @media screen and (max-width: 850px) {
    align-self: stretch;
    width: auto;
    margin: 0 10px 10px;
  }

  .infoCustomerContainer {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);

    .customerInfo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 15px 20px;
      
      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-right: 20px;
      }

      .customerNameContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        span {
          color: #337ab7;
          font-size: 14px;
          margin: 2px 0;
        }
      }
    }

    .labelCustomerInfo {
      align-self: stretch;
      font-size: 15px;
      padding: 15px 20px;
      background-color: $lightGrayColor;
      font-weight: 700;
    }
  }

  .contestInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    @media screen and (max-width: 850px) {
      align-self: stretch;
    }

    .contestStats {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      align-self: stretch;
      margin-bottom: 22px;
      box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);

      .totalEntrie {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        padding: 15px 20px;
        background: $whiteColor;

        span {
          padding: 0;
          background-color: $whiteColor;
          font-weight: 600;
          color: $blueLighterGrayColor;
          font-size: 14px;
        }

        .totalEntriesLabel {
          padding: 0;
          background-color: $whiteColor;
          font-size: 15px;
          color: $darkGrayColor;
          font-weight: 400;
        }
      }

      span {
        display: inline-block;
        padding: 15px 20px;
        color: #000;
        font-size: 15px;
        font-weight: 700;
        align-self: stretch;
        background-color: $lightGrayColor;
      }
    }

    .awardAndTimeContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 22px;
      box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);

      .guaranteedPrize {
        @include flexCenter;
        align-self: stretch;
        margin-top: 10px;
        padding: 0 15px;
        margin-bottom: 15px;

        div {
          @include flexCenter;
          width: 16px;
          height: 16px;
          border-radius: 8px;
          background-color: $greenColor;
        }

        span {
          font-size: 14px;
          margin-left: 5px;
          color: $darkGrayColor;
        }
      }

      .timeContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 10px;
        padding: 0 15px;

        .time {
          color: $blueGrayColor;
          font-size: 15px;
          margin-left: 32px;
        }

        .timeDesc {
          @include flexCenter;

          span {
            font-size: 14px;
            color: $darkGrayColor;
            margin-left: 10px;
          }
        }
      }
    }

    .prizeContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
      background-color: $blueLighterGrayColor;
      padding: 12px 20px;

      span {
        color: $whiteColor;
        font-size: 22px;
        font-weight: 600;
        margin-left: 10px;
      }
    }
  }
}
