@use '/src/common/styles/colors' as *;

.chatHeader {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  border-bottom: 1px solid $lightGrayColor;
  background-color: $blueDarkerGrayColor;
  z-index: 600;

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .infoContainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &:last-child {
        margin-right: 15px;
      }

      i {
        margin-right: 10px;
        font-size: 18px;
        transition: font-size 0.2s ease;

        &:hover {
          font-size: 22px;
          color: $errorColor;
          transition: font-size 0.2s ease;
        }
      }

      img {
        height: 44px;
        width: 44px;
        border-radius: 50%;
      }

      span {
        display: inline-block;
        width: 100px;
        margin-left: 12px;
        color: $whiteColor;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
