@use '/src/common/styles/colors' as *;
@use '/src/common/styles/breakpoints' as *;
@use '/src/common/styles/mixins' as *;
.buttonContainer {
  @include flexCenter;
  width: 140px;
  height: 60px;
  margin: 0 15px;
  border: none;
  border-radius: 8px;
  background-color: #888;
  color: $whiteColor;
  font-size: 22px;
  line-height: 21px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    font-size: 28px;
    transition: font-size 0.1s ease-in-out;
  }
  @media screen and (max-width: $sm) {
    margin: 0 10px;
  }
}
