@use '/src/common/styles/colors' as *;
@use '/src/common/styles/breakpoints' as *;
@use '/src/common/styles/mixins' as *;

.buttonContainer {
  @include flexCenter;
  width: 275px;
  min-width: 140px;
  height: 70px;
  margin: 0 15px;
  border-radius: 10px;
  font-size: 26px;
  background-color: #f3875d;
  color: $whiteColor;
  font-weight: 700;
  cursor: pointer;
  transition: font-size 0.1s ease-in-out;

  &:hover {
    font-size: 32px;
  }

  @media screen and (max-width: $tablet) {
    width: auto;
    height: 60px;
    font-size: 22px;
    border-radius: 0;
  }

  @media screen and (max-width: $sm) {
    margin: 0 10px;
  }
}
