a {
  color: #0d6efd;
  text-decoration: none;
  cursor: pointer;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Product Sans', sans-serif;
}
.bottomBlock {
  text-align: left;
  background: linear-gradient(0deg, rgb(0 0 0 / 0.02), rgb(0 0 0 / 0.02)),
    #ffffff;
}
.container {
  border-top: 1px solid #edeff3;
  padding-top: 55px;
  padding-bottom: 55px;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .allright {
    font-size: 16px;
    color: #19184a;
  }

  .dot {
    width: 3px;
    height: 3px;
    background: #858a99;
    border-radius: 50%;
    margin: 0 15px;
  }

  .tdPreferences {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #2b2e36;
  }
}

.paymentMethod {
  display: flex;
  padding: 0;
}

.approved div {
  padding: 0;
  font-size: 14px;
  color: #999;
}
.trustPilot {
  width: 190px;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.approved div strong {
  margin: 0;
  display: block;
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.footerRatings {
  display: flex;
}
.basedOn {
  display: block;
  text-align: left;
  border-left: 0;
  padding-left: 25px;
}
.tpStars {
  display: flex;
  justify-content: center;
}

.tpStars .star {
  width: 25px;
  height: 25px;
  background-image: url(./trustpilot-star.png);
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 1px;
}
.halfStar {
  width: 25px;
  height: 25px;
  background-image: url(./trustpilot-half-star.webp);
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 1px;
}

.tpName {
  font-size: 14px;
  color: #999;
  display: flex;
  font-weight: 600;
  margin: 0 0 0 5px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.icon {
  padding: 0;
  position: relative;
  flex-shrink: 0;
  top: -1px;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 2px 0 0;
  width: 15px;
  height: 15px;
  background-image: url(./trustpilot-brand-icon.png);
}

.footerRatings {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999;
  padding: 0;
  border-left: 1px solid rgb(0 0 0 / 0.08);
}
.basedOn {
  display: block;
  text-align: left;
  border-left: 0;
  padding-left: 25px;
}

.social div {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all ease 0.3s;
  vertical-align: middle;
}

.facebook {
  background-image: url(./facebook.svg);
}
.twitter {
  background-image: url(./twitter.svg);
}
.instagam {
  background-image: url(./instagam.svg);
}
.in {
  background-image: url(./in.svg);
}
.youtube {
  background-image: url(./youtube.svg);
}

@media (max-width: 992px) {
  .flex {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .flex > div {
    margin-top: 20px;
  }
}
