@use '/src/common/styles/colors' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  span {
    font-size: 26px;
    font-weight: 500;
    color: $blueDarkerGrayColor;
  }
}
