@use '/src/common/styles/colors' as *;
@use '/src/common/styles/mixins' as *;

.container {
  @include flexCenter;
  width: 100%;

  span {
    font-size: 26px;
    font-weight: 500;
    color: $blueDarkerGrayColor;
  }
}
