.optionButton
  min-width: 200px
  border-radius: 8px
  border: none
  margin-top: 5px
  cursor: pointer
  color: #455a89
  font-size: 16px
  font-weight: 600
  padding: 14px 58px
  align-self: stretch
  @media(max-width: 800px)
    text-align: center

  &:hover
    background-color: #455a89
    color: white

.currentOption
  background-color: #455a89
  color: white
