@use '/src/common/styles/colors' as *;
@use '/src/common/styles/breakpoints' as *;
.optionButton {
  min-width: 200px;
  border-radius: 8px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  color: $blueGrayColor;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 58px;
  align-self: stretch;

  @media screen and (max-width: $md) {
    text-align: center;
  }

  &:hover {
    background-color: $blueGrayColor;
    color: $whiteColor;
  }
}

.currentOption {
  background-color: $blueGrayColor;
  color: $whiteColor;
}
