@use '/src/common/styles/colors' as *;
@use '/src/common/styles/breakpoints' as *;
@use '/src/common/styles/mixins' as *;

.startContestHeader {
  @include flexCenter;
  padding: 35px;
  box-sizing: border-box;

  .startContestInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 480px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

    @media screen and (max-width: $tablet) {
      max-width: none;
    }

    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      color: $darkGrayColor;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.1;
    }

    span {
      margin-bottom: 10px;
      padding-right: 20px;
      font-size: 14px;
      font-weight: 300;
      color: $darkGrayColor;
      line-height: 1.428;
    }
  }
}

.container {
  @include flexCenter(column);
  padding: 40px 0 15px 0;
  border-bottom: 1px solid #eee;
  background: #f8f8f8;

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin: 0 10px;
  }
}

.footerButtonsContainer {
  @include flexCenter;
  width: auto;
  margin: 0 auto;

  .lastContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 1400px;
    margin: 30px auto;

    @media screen and (max-width: 900px) {
      justify-content: center;
    }

    .buttonsContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
