@use '/src/common/styles/colors' as *;

.mainInfoContainer {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 50px;
  padding-top: 20px;
  @media screen and (max-width: 1250px) {
    width: auto;
    margin: 0 25px;
  }

  @media screen and (max-width: 850px) {
    align-items: center;
    flex-direction: column-reverse;
  }

  .infoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 1;
    width: 80%;
    margin-right: 40px;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 850px) {
      width: auto;
      margin: 10px;
      align-self: stretch;
    }

    .offersContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      align-self: stretch;
      padding: 15px;
      border-top: 1px solid $lightGrayColor;

      .offers {
        width: 100%;
        margin-top: 20px;
        padding-top: 10px;
        align-self: stretch;

        .notFound {
          color: $blueGrayColor;
          font-size: 20px;
          margin-top: 40px;
          width: 100%;
          text-align: center;
        }
      }
    }

    .buttonsContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
      background-color: $lightGrayColor;

      .button {
        margin-right: 7px;
        padding: 11px 15px;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        background-color: $blueLighterGrayColor;
        color: $whiteColor;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          background-color: rgba(176, 196, 222, 0.8);
        }
      }

      .activeButton {
        background-color: $whiteColor;
        color: $darkGrayColor;

        &:hover {
          background-color: $whiteColor;
        }
      }
    }
  }
}

.tryContainer {
  width: 250px;
  margin: 60px auto 0;
}
