@use '/src/common/styles/colors' as *;

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  max-height: 290px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $lightGrayColor;
  }

  &::-webkit-scrollbar-thumb {
    background: $blueLighterGrayColor;
  }

  .notFound {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    color: $blueDarkerGrayColor;
    text-align: center;
  }
}
