@use '/src/common/styles/colors' as *;

.chatHeader {
  height: 50px;
  background-color: $blueDarkerGrayColor;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $lightGrayColor;
  z-index: 600;

  img {
    width: 120px;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.previewContainer {
  height: 300px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $lightGrayColor;
  }

  &::-webkit-scrollbar-thumb {
    background: $blueLighterGrayColor;
  }

  .notFound {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    color: $blueDarkerGrayColor;
    text-align: center;
  }
}
